* {
    font-size: 16px;
    line-height: 1.5;
}

input:focus {
	outline: none;
    border: 2px solid #5CD6D6;
    box-shadow: 2px #5CD6D6;
}

.clear:after {
	display: block;
	content: '';
	width: 0;
	visibility: hidden;
	clear: both;
}

.clearElement {
	display: block;
	content: '';
	width: 0;
	visibility: hidden;
	clear: both;
}