@import "common";

.LocCandidates {
	list-style-type: none;
	padding-left: 0;
	margin-left: 20px;
	background-color: rgba(94, 120, 125, 0.85);
	li {
		:hover {
			cursor: pointer;
			color: #ffffff;
		}
		input {
			display: none;
		}
	}
}