@import "common";

.LocCandidates {
	list-style-type: none;
	padding-left: 0;
	margin-left: 20px;
	background-color: rgba(94, 120, 125, 0.85);
	li {
		:hover {
			cursor: pointer;
			color: #fefefe;
		}
		input {
			opacity: 0;
			float: left;
		}
		input:focus+label {
			cursor: pointer;
			color: #ffffff;
		}
		label {
			display: block;
			width: 100%;
		}
	}
}