@import "common";


.LocPicker {
	.hintInput {
		padding-left: 5px;
		display: block;
		background-color: #ffffff;
		overflow: hidden;
		svg {
			float: left;
		}
		.rawInput {
			overflow: hidden;
			padding-left: 10px;
			display: block;
			input {
				border-style: none;
				width: 100%;
			}
		}

	}
}