@import "common";
div {
	.hireable {
		border: 2px solid #2BD591;
	}
}

.nameCard {
	white-space: nowrap;
	overflow: hidden;
	margin: 5px 5px 0 0;
	border: 2px solid #A2A2A2;
	padding: 5px;
	position: relative;
	.check {
		position: absolute;
		right: 5px;
		top: 5px;
	}
	.aside {
		float: left;
		overflow: hidden;
		text-overflow:ellipsis;
		width: 120px;
		img {
			width: 100px;
			height: 100px;
		}
		a {
			display: block;
		}
		p {
			margin: auto;
			font-size: 10px;

		}
		margin-right: 5px;
	}
	.information {
		.contact {
			width: 130px;
			margin-left: 5px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow:ellipsis;
			span {
				margin-left: 5px;
			}
		}
		float: left;
		ul {
			padding: 10px;
			list-style-type: none;
			li {
				position: relative;
				text-align: center;
				margin: 0 10px 0 0;
				float: left;
				p {
					font-size: 20px;
					color: #2BD591;
				}
				.tip {
					position: absolute;
					left: 0px;
					top: 30px;
					font-size: 10px;
					display: none;
					color: #808080;
				}
			}
			li:hover {
				.tip {
					display: block;
				}
			}
		}
	}
}